* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #333333;
	font-weight: 100;
	font-size: 100%;
}

header {
	margin-top: 3em;
	margin-bottom: 3.5em;
}

h1 {
 	text-align: center;
 	font-size: 2.5em;
 	font-weight: 500;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

h3 {
	font-size: 1em;
	font-weight: 400;
}

#main-content {
	margin-left: 20px;
	margin-right: 20px;
}

.box {
	display:  block;
	float: left;
	width: 33%;
	padding: 20px;
	/*border: 1px solid #444444;*/
	overflow: auto;
}

.cover {
	float: left;
}

.book-content {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 1.05em;
	font-weight: 300;
}

a:link, a:visited {
	text-decoration: none;
	color: skyblue;
}

footer {
	clear: left;
	margin-left: 10px;
}